body {
  background-color: #95E99E;
}

h1 {
color: black;
text-align: center;
font-size: 30pt;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

t {
color: black;
text-align: center;
font-size: 15pt;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

foot {
  color: black;
  text-align: center;
  font-size: 5pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
