h1 {
color: black;
text-align: center;
font-size: 30pt;
font-family: "Lucids Sans Unicode", "Lucida Grande", sans-serif;
}

t {
color: black;
text-align: center;
font-size: 15pt;
font-family: "Lucids Sans Unicode", "Lucida Grande", sans-serif;
}
